extends layout

block content
  h1= title
  p Welcome to #{Amit page}
  p Hi, My name is Amit, and I am currently pursuing master's in Applied Computer Science program. I like technology and I always try to learn new things about technologies.
